.body{
    background-image: url(ing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin:0%;
    border: 2px solid black;
    
}
.block{
    display: block;
}
.text{
    text-align: center;
    padding-top: 10%;
    font-size: 70px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-family: 'Secular One', sans-serif;
    word-spacing: 11px;
    margin: 3px;
}
.siz{
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    font-family: 'Secular One', sans-serif;
    
    
}
.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius:50px;
    padding: 7px 15px;
    border: 2px solid rgb(0, 0, 0);
    background-color: black;
    margin-left: 43%;
    font-size: 30px;
    
}
body, html{
    height: 100%;
    margin: 0;
}
.eroo{
    text-align: center;
    margin-top: 80px;
}
.you{
    margin: 0px;
    font-family: cursive;
    font-size: 50px;
}
.taka{
    text-align: center;
    font-size: 20px;
    color: rgb(15, 15, 15);
    font-family: 'Oswald', sans-serif;
    font-family: 'Secular One', sans-serif;
    margin-bottom: 60px;
    
}
.display{
    display: flex;
}
#margin{
    margin-left: 15%;
    border: 2px solid rgb(189, 174, 174);
    padding: 2px 10px;
    color: rgb(14, 15, 15);
    background-color: rgb(179, 187, 194);
    font-size: 30px;
    
}
#home{
    border: 2px solid rgb(175, 173, 173);
    padding: 2px 6px;
    margin-left: 30px;
    color: rgb(14, 15, 15);
    background-color: rgb(179, 187, 194);
    font-size: 30px;
}
#non{
    border: 2px solid rgb(182, 170, 170);
    padding: 2px 6px;
    margin-left: 30px;
    color: rgb(14, 15, 15);
    background-color: rgb(179, 187, 194);
    font-size: 30px;
}
#toy{
    border: 2px solid rgb(187, 179, 179);
    padding: 2px 6px;
    margin-left: 30px;
    color: rgb(14, 15, 15);
    background-color: rgb(179, 187, 194);
    font-size: 30px;
}
#mom{
    border: 2px solid rgb(177, 162, 162);
    padding: 2px 6px;
    margin-left: 30px;
    color: rgb(14, 15, 15);
    background-color: rgb(179, 187, 194);
    font-size: 30px;
}
.joy{
    margin-top: 5%;
    margin-left: 30%;
    border-top: 70px;
    border-left: none;
    border-right: none;
    border-top: none;
    background: transparent;
    padding-left: 70px;
    font-size: 30px;
}
.hot{
    margin-left: 45%;
    margin-top: 20px;
    border: 2px solid black;
    padding: 5px 7px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 30px;
    margin-bottom: 30px;
}
.boss{
    
    margin-top: 35px;
    margin-left:3%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 2%;
    background-color: rgb(148, 96, 153);
    padding-bottom: 40px;
    
}
.just{
    text-align: justify;
    font-size: 20px;
        
}
.img{
    width: 80px;
}
.git{
   
    margin-top: 35px;
    margin-left: 2%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 2%;
    background-color: rgb(111, 165, 162);
}
.may{
   
    margin-top: 35px;
    margin-left: 2%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 2%;
    background-color: rgb(184, 170, 112);
}
.dad{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 7px solid rgb(163, 159, 159);
    margin-left:20%; 
    margin-top: 20px;
    
    
}
.help{
    border: 3px solid red;
    margin-top: 30px;
    padding-right: 38px;
    margin-left: 28%;
    margin-right: 28%;
    padding-bottom: 30px;
    background-color: rgb(247, 247, 247);
    box-shadow: 5px 10px #888888;
    border: none;
    font-size: 20px;
 }
 .baby{
    text-align: center;
    border: 2px solid green;
    padding-left: 40px;
    padding-right: 30px;
    margin-left: 60px;
    margin-right: 60px;
    border: none;
    
    
 }
 .cop{
    text-align: justify;
    padding-left: 40px;
 }
 .top{
    
    margin-top: 50px;
 }
 #small{
    font-size: 15px;
    text-align: center;
    margin-right: 0%;
 }
 .zay{
    margin-left:35%;
    font-size: 50px;
 }
 .dally{
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 200px;
    background-color: burlywood;
    border-radius: 5px;
   
    
 }
 .agent{
    border: 2px solid black;
    text-align: center;
    margin-top: 20px;
    background: black;
 }
 .color{
    color: crimson;
    font-family: 'Oswald', sans-serif;
    font-family: 'Secular One', sans-serif;


 }
 .with{
    color: white;
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Secular One', sans-serif;
    

 }
 .ccc{
    color: burlywood;
    background-color: bisque;
    border: none;
    font-size: 20px;
 }
 .input{
    margin-left: 100px;
    font-size: 20px;
 }